* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* Impede a rolagem horizontal */
    width: 100%;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.2rem;
}

.name {
    margin-left: 80px;
    margin-top: -35px;
    margin-bottom: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}

.welcome {
    padding: 3rem;
    margin: 20px;
}

#logo {
    width: 85px;
    margin-top: 5px;
}

#section-bater-ponto {
    margin-top: 100px;
    width: 85%;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto;
}

.frase {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #464545;
    text-align: center;
    opacity: 0.8;
    font-weight: 400;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.name {
    font-size: 1.8rem;
    font-weight: 600;
}

.text {
    margin-left: 80px;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}

#section-relogio {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.relogio {
    display: flex;
    font-size: 5em;
    color: #2F2C95;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 0.8rem;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

.relogio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #2F2C95;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(206, 202, 202, 0.7);
    font-weight: bolder;
}

.toggle-button {
    width: 18rem;
    height: 4rem;
    background-color: #2F2C95;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.button-button p {
    color: white;
    margin: 0;
    transition: opacity 1s;
    font-family: 'Poppins', sans-serif;
}

.dragButton {
    width: 3.6rem;
    height: 3.2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: -3.9rem;
    border: none;
    transition: transform 0.4s ease;
}

.hammer {
    position: relative;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
}

.label {
    color: rgb(252, 252, 252);
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    #section-bater-ponto {
        height: 100%;
        width: 100%;
        padding: 0rem;
        background-color: #ffffff;
        border-radius: 0rem;
        margin-left: 0rem;
        overflow-y: inherit;
        margin-top: 0px;
    }

    .relogio div {
        width: 60px;
        height: 115px;
        font-size: 70px;
    }
}

.wave-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
    left: 0;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #04040a;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: 'Poppins', sans-serif;
}